.productsList{

    max-width: 1296px;
    margin-top: 36px;
    background: #e4ebf5;
    border-radius: 2rem;
    box-shadow: 0.8rem 0.8rem 1.4rem #cbced1, -0.2rem -0.2rem 1.8rem #ffffff;
    padding: 4rem;
    margin: 24px auto 48px;
}

