.productsList {
    max-width: 1296px;
    background: var(--gray-bg);
    border-radius: 126px 37px 25px/49px 89px 136px;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--gray-shadow), -0.2rem -0.2rem 1.8rem #ffffff;
    padding: 31px 32px 18px;
    margin: 48px auto 48px;
}

