.usersBlock {
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000;
  transition: all 0.5s ease;
  margin: 0 48px;
  padding: 15px 30px;
  border-radius: 129px 92px 254px/69px 302px 157px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  padding: 8px 15px;
  margin-left: 15px;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #ffffff;
  border-radius: 7px;
  flex-wrap: wrap;
  max-width: 190px;
  min-width: 190px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 15px;
    right: 15px;
    height: 3px;
    display: block;
    background: linear-gradient(0deg, #e4ebf5, transparent);
  }
}

.userCoupons {
  display: flex;
  max-height: 36px;
  overflow-y: auto;
}

.userName {
  width: 100%;
  color: #61dafb;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  padding-bottom: 6px;
}

.userAvatar {
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 500;
  color: #61dafb;
  transition: all 0.5s ease;
}

.userData {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
}

.userData__salesValue {
  font-size: 14px;
  margin-left: 15px;
  color: black;
}