.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #ffffff;
    padding: 30px 30px;
    border-radius: 319px 108px 254px / 128px 112px 157px;

    p {
        transition: .3s;
        font-size: 24px;
        line-height: 1;
        font-weight: 700;
        margin: 0;
        position: relative;
        right: -10px;
        color: #61dafb;
    }

    &:hover {
        .siteLogo {
            transform: rotate(90deg);
        }

        p {
            right: 0px;
        }
    }

}

.siteLogo {
    transition: .2s;
    width: 68px;
    min-width: 48px;
}