.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: .2s;

    p {
        transition: .3s;
        font-size: 24px;
        line-height: 1;
        font-weight: 700;
        margin: 0;
        position: relative;
        right: 0;
        color: #61dafb;
    }

    &:hover {
        .siteLogo {
            transform: rotate(90deg);
        }

        p {

            right: 5px;
        }
    }

}

.siteLogo {
    transition: .2s;
    width: 96px;
    min-width: 48px;
}